background-color:pink
}
input[type="number"]{
	background-color:yellow;
}
input[type="date"]{
	background-color:yellow;
}

}
input[type="submit"]{
	width:40px;
	border-radius:15px;
	padding:10px;
	cursor:pointer;
}
input[type="reset"]{
	width:70px;
	border-radius:15px;
	cursor:pointer;
	height:30px;
	
}
textarea{
	background-color:gray;
}
input[type="reset"]:hover{
	background-color:red;
	transition:2s;
}
input[type="submit"]:hover{
	background-color:green;
	transition:2s;
}
